body {
	/* background: #EFEFBB; */
	background: linear-gradient(to right, rgb(43, 71, 212), rgb(64 141 255));
	color: white;
	margin: 0;
	font-family: sans-serif;
}

.container {
  display: flex;
	padding: 10px 15px;
	margin: 0 auto;
  justify-content: center;
  align-items: center;  
}

.container h1{
  
}

.grid{
  display: grid;
  
	/* grid-template-columns: 1fr 1fr; */
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 320px;
  margin-top: 10px;  
  margin-right: 10px;  
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;  
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}